*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #222;
    font-family: tahoma, sans-serif;
    font-size:13px;
    text-align: left;
    font-weight: normal;

    background-color: #fff;
    background-image: url( ../images/backgrounds/placeholder.jpg );
    background-position: 0 bottom;
    margin: 0px;
    overflow: hidden;
}
#info {
    background-color: rgba( 0, 0, 0, .6 );
    color: #fff;
    text-shadow: 0 -1px 0 rgba( 0, 0, 0, .6 );
    position: absolute;
    left: 10px; top: 0;
    padding: 20px;
    z-index: 100;
}
#info p{
    margin-bottom: 10px;
}
#info p:last-child{
    margin-bottom: 0;
}
#container{
}
h1{
    font-size: 12px;
    margin-bottom: 5px;
}
a{ color: white;}
.dg *{
    box-sizing: content-box;
}
@media (max-width: 750px) {
    #info{ display: none;}
}