/* Cargamos la fuente que utilizamos y la cargamos en varios formatos. */
@font-face {
	font-family: "Gayatri";
	src: url("Fuente/Gayatri.eot?") format("eot"),
	url("Fuente/Gayatri.woff") format("woff"),
	url("Fuente/Gayatri.ttf") format("truetype");
}

html {
/* 	border-style:solid;
border-width:5px; */
	padding-top: 30%;
	position: relative;
	margin: 10% 30%;
}

body {
	/* border-style:solid;
	border-width:5px;
	border-color: yellow; */
}

.contenido {
	text-align: center;
	width: 800px;
	height: 600px;
	min-width: 300px;
	max-width: 800px;
	min-height: 200px;
	max-height: 600px;
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
  	left: 0;
	z-index: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.titulo {
	padding-top: 40px;
	margin-bottom: 0px;
	font-family: Gayatri;
	font-size: 48px;
	color:white;
	-webkit-animation: titulo 3s ease alternate infinite;
	animation: titulo 6s ease alternate infinite;
}

 	/* Animacion del titulo */
@keyframes titulo {
  	0% {
		transform: none;
	}
  	50% {
		transform: translate(-30px,0px);
	}
	100% {
		transform: translate(30px,0px)
	}
}

@-webkit-keyframes titulo {
	0% {
		-webkit-transform: none;
	}
  	50% {
		-webkit-transform: translate(-30px,0px);
	}
	100% {
		-webkit-transform: translate(30px,0px)
	}
}

	/* Fin de animacion del titulo */

	/* Configuración de subtitulo. */
.subtitulo {
	margin-top: 0px;
	font-family: Gayatri;
	font-size: 18px;
	color: white;
	padding-top: -10px;

	-webkit-animation: subti 15s ease infinite;
	animation: subti 15s ease infinite;
}

	/* Animacion del subtitulo */
@keyframes subti {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
		color:red;
	}
	20% {
		opacity: 0;
	}
	30% {
		opacity: 1;
		color:blue;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		color:green;
	}
	60% {
		opacity: 0;
	}
	70% {
		opacity: 1;
		color:orange;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 1;
		color:yellow;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes subti {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
		color:red;
	}
	20% {
		opacity: 0;
	}
	30% {
		opacity: 1;
		color:blue;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		color:green;
	}
	60% {
		opacity: 0;
	}
	70% {
		opacity: 1;
		color:orange;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 1;
		color:yellow;
	}
	100% {
		opacity: 0;
	}
}
	/* Fin de la animacion del subtitulo */

	/* Fin de configuración de subtitulo. */

/*  CONFIGURACION DE LA TABLA   */

.scoresGlobal {
	color: white;
	font-family: Gayatri;
	font-size: 24px;
}

table {
	border-collapse: collapse;
	margin-top: -10px;
}

td {
	padding: 7px 0px;
	padding-right: 40px;
	padding-left: 40px;
	width:-10px;
}

tr {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

tr:hover {
	color: red;
	transform: scale3d(1.4,1.4,1.4);
	-moz-transform: scale3d(1.4,1.4,1.4);
	-webkit-transform: scale3d(1.4,1.4,1.4);
}

.nScore {
	float: left;
	width: 8%;
}

.scores {
	width: 40%;
	text-align: center;
}

/* FIN CONFIGURACION DE LA TABLA   */

/*  CONFIGURACION DEL BOTÓN   */

.button {
	height: 50px;
	width: 220px;
	cursor: pointer;
 	color: white;
  	position: absolute;
	font-family: Gayatri;
	margin-top: 25px;
	margin-left: 35%;
}

button .outer {
	/* position: relative; */
	width: 100%;
	height: 100%;
	-webkit-transform: perspective(500px) rotateX(35deg);
	-moz-transform: perspective(500px) rotateX(35deg);
}

.button .outer .height {
	margin-top: -12px;
	padding-bottom: 12px;
	background: #6F6F6F;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.button:hover .outer .height {
	margin-top: -8px;
	padding-bottom: 8px;
	background: #6F6F6F;
	color:#9C1E07;
}
.button:active .outer .height {
	margin-top: 0px;
	padding-bottom: 0px;
}

.button .outer .height .inner {
	line-height: 40px;
	font-size: 30px;
	letter-spacing: 2px;
	position: relative;
	height: 100%;
	text-align: center;
	background: #FFFFFF;
	background: -moz-linear-gradient(top, #7D7E69 0%, #F0F0F0 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #7D7E69 0%,#F0F0F0 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #7D7E69 0%,#F0F0F0 100%); /* W3C */
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}
.button:hover .outer .height .inner{
	background: #43d034; /* Old browsers */
	background: -moz-linear-gradient(top, #727272 0%, #D1D1D1 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #727272 0%,#D1D1D1 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #727272 0%,#D1D1D1 100%); /* W3C */
}
.button:active .outer .height .inner{
	color:#FF0606;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	-webkit-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	-moz-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	background: #1d7d12; /* Old browsers */
	background: -moz-linear-gradient(top, #9B9B9B 0%, #494949 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #9B9B9B 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #9B9B9B 0%,#494949 100%); /* W3C */
}

/* FIN CONFIGURACION DEL BOTÓN   */

/* CONFIGURACION DE LAS NAVES / ANIMACIONES */

	/* Configuracion 1º Nave */
.nave1 {
	width: 70px;
	height: 101px;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	position: absolute;
	left:-95px;
	top:-90px;
	z-index: -1;
	padding: 15px;

	-webkit-animation: avion1 10s ease infinite;
	animation: avion1 10s ease infinite;
}

.nave1:hover {
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	z-index: 1;
}

@keyframes avion1 {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	16% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	32% {
		opacity: 0;
	}
	60% {
		opacity: 0;
		transform: translate(960px,700px) rotate(-45deg);
	}
	100% {
		opacity: 0;
		transform: translate(960px,700px) rotate(-45deg);
	}
}

@-webkit-keyframes avion1 {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	16% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	32% {
		opacity: 0;
	}
	60% {
		opacity: 0;
		-webkit-transform: translate(960px,700px) rotate(-45deg);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(960px,700px) rotate(-45deg);
	}
}

	/* FIN Configuracion 1º Nave */

	/* Configuracion 2º Nave */

.nave2 {
	width: 69px;
	height: 101px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	position: absolute;
	left:780px;
	top:-105px;
	z-index: -1;
	opacity: 0;
	padding: 15px;

	-webkit-animation: avion2 7s 4s ease infinite;
	animation: avion2 7s 4s ease infinite;
}

.nave2:hover {
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	z-index: 1;
}

@keyframes avion2 {
	0% {
		opacity: 0;
	}
	6% {
		opacity: 0;
	}
	14% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	31% {
		opacity: 0;
	}
	60% {
		opacity: 0;
		transform: translate(-980px,700px) rotate(45deg);
	}
	100% {
		opacity: 0;
		transform: translate(-980px,700px) rotate(45deg);
	}
}

@-webkit-keyframes avion2 {
	0% {
		opacity: 0;
	}
	6% {
		opacity: 0;
	}
	16% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	31% {
		opacity: 0;
	}
	60% {
		opacity: 0;
		-webkit-transform: translate(-980px,700px) rotate(45deg);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(-980px,700px) rotate(45deg);
	}
}

	/* FIN Configuracion 2º Nave */

	/* Configuracion 3º Nave */

.nave3 {
	width: 69px;
	height: 101px;
	position: absolute;
	left:331px;
	top:-80px;
	z-index: -1;
	opacity: 0;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);

	-webkit-animation: avion3 10s 6s ease infinite;
	animation: avion3 10s 6s ease infinite;
}

.nave3:hover {
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	z-index: 1;
}

@keyframes avion3 {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	16% {
		opacity: 1;
	}
	23% {
		opacity: 1;
	}
	28% {
		opacity: 0;
	}
	50% {
		opacity: 0;
		transform: translate(0px,700px) rotate(180deg);
	}
	100% {
		opacity: 0;
		transform: translate(0px,700px) rotate(180deg);
	}
}

@-webkit-keyframes avion3 {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	16% {
		opacity: 1;
	}
	23% {
		opacity: 1;
	}
	28% {
		opacity: 0;
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(0px,700px) rotate(180deg);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0px,700px) rotate(180deg);
	}
}

	/* FIN Configuracion 3º Nave */

/* FIN CONFIGURACION DE LAS NAVES / ANIMACIONES */